@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

.skill-card {
  clip-path: path(
    "M 26.7 40 L 157 40 C 165 40 170 35 170 27 S 170 20 170 12 C 170 5 175 0 182 0 L 373.3 0 A 26.7 20 0 0 1 400 21 L 400 380 A 26.7 20 0 0 1 373.3 400 L 26.7 400 A 26.7 20 0 0 1 0 380 L 0 60 A 26.7 20 0 0 1 26.7 40 Z"
  );
}

.skill-card-inner {
  clip-path: path(
    "M 26.7 40 L 162 40 C 170 40 175 36 175 27 S 175 20 175 12 C 175 5 180 0 187 0 L 373.3 0 A 26.7 20 0 0 1 400 21 L 400 380 A 26.7 20 0 0 1 373.3 400 L 26.7 400 A 26.7 20 0 0 1 0 380 L 0 60 A 26.7 20 0 0 1 26.7 40 Z"
  );
}
